# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies and Builds
node_modules/
dist/
dist-ssr/
out/
.vercel/
.next/

# Environment Variables and Secrets
.env
.env.*
!.env.example
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Convex
# By default, Convex recommends COMMITING convex/_generated to git
# because hosting services need the generated code for the build step.

